        /* header */
        /*  */
      
        .img-header-p{
            margin-left: 50%;
            margin-top:-10%;
         
        }
        
        .container .img-header{
          
            width: 100%;
            margin: none;
            padding: none;
            opacity: 0.85;
        }


        .container {
            position: relative;
            text-align: center;
           
          }
          
          .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }


        /* le style de text entre image de header */
        .slogo{
            font-style: italic;
            font-weight: bold;
            font-size: 50px;
            line-height: 31px;
            font-family: 'Courier New', Courier, monospace;
            color: #000;
            text-align: center;
        }
        
        legend{
            color: #74684E;
            position: relative;
            margin-left: 39%;
            margin-top: 2%;
            width: 22% !important;
        }
        legend::after{
            content: "";
            display: block;
            width: 117%;
            height: 2px;
            background-color: #000000;
            position: absolute;
            left: 135%;
            top: 60%;
        }

        legend::before{
            content: "";
            display: block;
            width: 117%;
            height: 2px;
            background-color: #000000;
            position: absolute;
            left: -156%;
            top: 60%;
        }

        .div-category{
            color: #74684E;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 22%;
        }
        .category{
            margin: 4%;
        }
        .category1::before{
            content: "";
            display: block;
            width: 2px;
            height: 30px;
            background-color: #000000;
            position: absolute;
            margin-left: 12%;
        
        }
        .category2::before{
            content: "";
            display: block;
            width: 2px;
            height: 30px;
            background-color: #000000;
            position: absolute;
            margin-left: 13%;
        }
        .category3::before{
            content: "";
            display: block;
            width: 2px;
            height: 30px;
            background-color: #000000;
            position: absolute;
            margin-left: 9%;
        }

           .produits{
              display: flex;
              justify-content:space-between;
            } 
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 330px;
                margin: auto;
                text-align: center;
                font-family: arial;
              }
              
              .price {
                color: grey;
                font-size: 22px;
              }
            .card button {
                border: none;
                outline: 0;
                padding: 15px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
              }
              
              .card button:hover {
                opacity: 0.7;
              }
          
            .article1{
                display: flex ;
            }
            .photo-article1{
                width: 100%;
                
            }
            .div2-article1{
                background: linear-gradient(269.63deg, #999999 0.35%, #A2A2A2 0.36%, rgba(153, 153, 153, 0) 99.7%);
                HEIGHT: 55%;
                PADDING-BOTTOM: 5.5%;
                
            }  
            .titre-article1{
                margin-top: 4%;
                color: #1B1628;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bold;
                margin-left: 2%;
                font-size: 37px;
            }
            .par1-article1 {
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                color: #C46237;
                margin-left: 2%;
            }
            .par2-article1{
                font-family: Alef;
                font-style: normal;
                margin-left: 5%;
                font-size: 15px;
                color: #413E3E;
            }

            .row{
                --bs-gutter-x: -1.5rem !important;
            }
            .her {
                margin-top: 2%;
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
            }
            .imag {
                width: 60%;
                height: 100%;
                left: 653px;

            }
            .imag img {
                width: 100%;
            }
            .bg {
                width: 40%;
                background: linear-gradient(269.63deg, #999999 0.35%, #A2A2A2 0.36%, rgba(153, 153, 153, 0) 99.7%);

            }
            
           