*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: Bokor;
    margin: 30px 0px 10px  50px ;
}
#frame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#frame .flex-div{
    width: 50%;
}
#descreption-quantite-button{
    margin-left: 30px;
}
#product-descreption{
    margin-left: 48px;
}
#descriprtion{
    margin-top: 30px;
}
#quantite-button{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 60px;
    margin-top: 48px;
    margin-left: -7px;
    /* display: flex;
    justify-content: space-around; */
}
.input{
    margin-left: 72px;
}
label{
    margin-left: 55px;
}
.crementation{
    width: 20px;
}
#quantity{
    text-align: center; 
}
/* #button-addtocart{
    width: 82%;
    background-color: #D6A173;
    border: solid 2px;
    border-radius: 12px;
    text-align: center;
    margin: 16px 0px 0px 28px
} */
button{
    width: 82%;
    background-color: #D6A173;
    border: solid 2px #000;
    border-radius: 12px !important; 
    color: #fff;
    text-align: center;
    margin: 20px 2px 0px 9px !important;
    padding: 5px;}
/* a{
    text-decoration:none !important;
    color: #fff !important;
    font-size: 17px;
} */
