/* navbar */
#img_logo{
    padding: 11PX;
    MARGIN: -28PX;
    width: 130PX;
}

.navbar-brand .icon{
    width: 35px;
    MARGIN-RIGHT: 31px;
}

.nav-link{
    margin-left: 30px;
}
/* footer */
.logo_f{
    width: 18%;
    margin-top: -11%;
}
.icon_f{
    width: 30px;
    margin: 10px;
    
}
.r-social{
    margin-left: 65%;
    
}
.f_paiment{
    display: flex;
}

h4{
    font-family: Inria Sans;
    font-size: 16px;
    font-style: italic;
}
#button_chop_now{
    width: 50%;
    background-color: #000;
    border: solid 2px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 0px 8px 89px;
}
a{
    text-decoration:none !important;
    color: #fff !important;
    font-size: 17px;
    /* padding: 5px; */
}