*{
    padding: 0;
    margin: 0;
}
h1{
    font-style: italic;
    margin: 20px 0px 10px  50px ;
}
#frame-content{
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    background-color: #E5E5E5;
    width: 50% ;
    /* height: 200px; */
    padding: 20px;
    /* width: 20px; */
}
.info{
    display: flex;
    flex-direction: row;
}
#ligne-hr{
    /* z-index: 1; */
    margin: 25px;
    color: black;
}
.img{
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#name-product{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
#price-product{
    margin-top: 15Px;
    margin-left: 15px;
    font-size: 20px;
    /* font-weight: bold; */

}
#number{
    margin-left: 50px;
}
#number-Subtotale{
    margin-left: 300px;
}
.container{
    margin-top: 15Px;
    margin-left: 15px;
}
.button_increment{
    width: 20px;
}
#solid{
    border:  solid rgb(0, 0, 0);
    margin-top: 20px;
}
#button-total{
    /* display: grid;
    grid-template-columns: 1fr,1fr;
    grid-gap: 50px; */
    /* display: flex; */
    display: grid;
    grid-gap: 400px;
    grid-template-columns: auto  auto;
}
.margin-button{
    margin: 40px 0px 20px 150px ;
    border: solid;
    padding: 10px;

}
.margin-total{
    margin: 40px 150px 20px 0px ;
    /* border: solid; */
    padding: 10px;
}